/* Navigation  */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;


}
/* Home section */
#home{
    height: 291px;
    padding: 5px 10px;
    
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}
#home h1{
    font-size: 25px;
}
/* Services Section  */

#services{
    flex-direction: column;
}
#services .box{

}

/* Client section  */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 80px;
    /* padding: 15px; */
}
/* Contact us section */

#contact-box form{
    width: 80%;
}
/* Footer  */

.btn{
    font-size: 13px ;
    padding: 4px 8px;
}